/* Agrega aquí tus estilos*/
h1 {
	font-family: 'Merriweather', serif;
	font-size: 50px;
	color: #07651F;
	text-align: center;
	text-shadow: 0px 0px 10px #FFF,
	/* Parte de luz */
4px 2px 12px #DCB500,
-4px 2px 12px #DCB500,
/* Subida del fuego */
0px -6px 14px #FF7A00,
0px -12px 14px #FF6300,
0px -20px 14px #FF4400,
/* Azuleo de la llama */
0px -30px 14px #0A7BFF;
}
h2 {
	font-family: 'Merriweather', serif;
	font-size: 25px;
	color: #048E1B;
	text-shadow: 0px 0px 10px #FFF,
	/* Parte de luz */
4px 2px 12px #DCB500,
-4px 2px 12px #DCB500,
/* Subida del fuego */
0px -6px 14px #FF7A00,
0px -12px 14px #FF6300;
}
h3 {
	font-size: 20px;
	color: #048E1B;
}
p {
	font-family: 'Slabo 27px', serif;
	color: #032216;
	margin-left: 3.05%;
}
a {
	color:#006400;
	background-color:#f1f1f1;
	padding-left:4px;
	padding-right:4px;
	border-radius: 5px;
	font-size: 100%;
}
a:hover {
	font-size:18px;
}

abbr {
	font-weight: bold;
	padding 4px;
	text-decoration-line: none;
}
#css-zen-garden {
	margin-top: 3%;
	margin-right: 3%;
	margin-left: 3%;
}
.design-selection, .design-archives, .zen-resources {
    background-color: #deefd7;
    padding: 0.01em 16px;
    margin: 20px 0;
    box-shadow: 4px 5px 10px 0 #bace6d, 0 2px 10px 0 rgba(0,0,0,0.12);
}

ul {
	list-style: none;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 6px solid #6dce71;
}
footer {
	background-color: #4CAF50;
	border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
	background-image: url(../img/head.gif);
	
}